<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common">
    <sql id="Pagination_Limit">
        <if test="limitDirection==true">
            <![CDATA[ LIMIT #{pageOffset}, #{pageSize} ]]>
        </if>
    </sql>
    
    <sql id="Order">
        <if test="orderField!=null and orderField!='' ">
            ORDER BY ${orderField}
        </if>
    </sql>
</mapper>